# SPDX-License-Identifier: Apache-2.0
.DS_Store
Thumbs.db
.git/
.gitignore
.gitattributes
.helmignore
.vscode/
.idea/
*.code-workspace
*.orig
*.rej
*.swp
*.tmp
package-lock.json
yarn.lock
pnpm-lock.yaml
Pipfile.lock
poetry.lock
*.log
*.bak
